<div class="space" ></div>

{{#if userName}}
<div class="d-block p-2 col-md-5 mx-auto border-bottom border-danger  border-4" >
  <div class="d-flex justify-content-center" >
      <a href="/cart"><img class="imglogo" src="/fon/221744_znOfRC26Nv_41mztsnrdm.jpeg"  alt="lorem"> </a>
  </div>
  <div class="h-75 fs-4 text-white  p-3  fst-italic text-center">
 — настольная игра, выпускаемая компанией Wizards of the Coast. Относится к классам коллекционных и логических карточных игр. Игра представляет собой поединок магов-мироходцев, которые используют карты как магические ресурсы чтобы победить противника.
  </div>
</div>
{{else}}
<div class="d-block p-2 col-md-5 mx-auto border-bottom border-danger  border-4" >
  <div class="h-75 fs-4 text-white  p-3  fst-italic text-center">
    Чтобы иметь возможность приобрести карточки, необходимо зарегистрироваться.
  </div>
</div>
{{/if}}

  <div data-findbox id="listCard">
    <div>
      <select data-search1 class=" fs-5 form-select w-25 p-2" aria-label="Default select example">
        <option value="0" selected>Поиск по городу</option>
        {{#each allCities}}
        <option value={{this.city_name}}>{{this.city_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="d-block p-2" ></div>
      <div>
        <select data-search2 class="fs-5 form-select w-25 p-2" aria-label="Default select example">
          <option value="0" selected>Поиск по названию</option>
          {{#each allTitles}}
          <option value='{{this.title}}'>{{this.title}}</option>
          {{/each}}
        </select>
    </div>
  </div>

<div data-boxcard id="body" class="addcards">
    {{#each allCards}}
    <div  class="card" id="box">
      <div id="title">
            <h3>{{this.title}}</h3>
        </div>
        <div class="img">
            <img src="{{this.img}}" alt="">
        </div>
          <div id="ganre">
            <p>Цена: {{this.price}} $</p>
            <p>Состояние: {{'Сondition.condition_name'}}</p>
            <p>Город продавца: {{'User.City.city_name'}}</p>
        </div>
        <div>
        {{!-- НЕ РАБОТАЕТ --}}
        {{!-- {{#if userName}} --}} 
        <button name="btn_main" id={{this.id}}  type="button" class="btn btn-outline-dark">Добавить в корзину</button>
{{!-- {{/if}} --}}
        </div>



    </div>
        {{/each}}
  </div>


</div>
</div>
</div>