



     {{#if isUser}}
<div class="d-block p-2 col-md-5 mx-auto border-bottom border-danger  border-4" >
  <div class="h-75 fs-4 text-white  p-3  fst-italic text-center">
    "Citadels" is a very interesting game with original rules that will be perfect for any company, regardless of age. The style of the game is very friendly, but at the same time dynamic, and it does not take much time to master the rules. The Citadels are of particular value to those who collect fantasy art: the cards of the set are distinguished by excellent execution and simply amazing elaboration of all illustrations.
  </div>
</div>

 {{else}}

<div class="d-block p-2 col-md-5 mx-auto border-bottom border-danger  border-4" >
  <div class="h-75 fs-4 text-white  p-3  fst-italic text-center">
Чтобы иметь возможность приобрести карточки, необходимо зарегестрироваться.
  </div>
</div>

  {{/if}}
<div id="listCard">
    <div id="cards">
        <h2>Список карточек:</h2>
    </div>
     <div class="container-fluid"></div>
  <select class="form-select w-25 p-3" aria-label="Default select example">
  <option selected>Поиск по названию</option>
    {{#each allTitles}}
  <option value="1">{{this.title}}</option>
  {{/each}}
</select>
       </div>

<div id="body">
    {{#each allCards}}
    <div class="card" id="box">
      <div id="title">
            <h3>{{this.title}}</h3>
        </div>
        <div class="img">
            <img src="{{this.img}}" alt="">
        </div>
          <div id="ganre">
            <p>Цена: {{this.price}} $</p>
            <p>Состояние: {{'Сondition.condition_name'}}</p>
            <p>Город продавца: {{'User.City.city_name'}}</p>
        </div>
        <div>
        <button type="button" class="btn btn-outline-dark">Buy</button>
        </div>
    </div>
        {{/each}}

</div>
</div>
</div>
</div>