<div class="LK">
<div class="space" ></div>
<div class="add">
  <div id="cards">
    <h2>Добавление карточки</h2>
  </div>

<form class="singup" method="post" action="/profile">

  <div class="mb-3">
    <label for="title-input" class="form-label text-white bg-black">Название:</label>
    <input id="title-input" name="title" type="text"  value="{{entry.title}}" tabindex="1" class="form-control" >
  </div>

  <div class="mb-3">
    <label for="body-textarea"  class="form-label text-white bg-black">Изображение:</label>
       <textarea id="body-textarea" name="img" tabindex="2"
      class="form-control">{{entry.body}}</textarea>
  </div>

<div class="mb-3">
    <label for="title-input" class="form-label text-white bg-black">Цена:</label>
 <input id="title-input" name="price" type="text" value="{{entry.title}}" tabindex="1"  class="form-control">
  </div>

<div class="mb-3">
  <label for="title-input" class="block mar-b-1 text-white bg-black">Состояние:</label>
    <select name="wear" style="padding: 6px 0px; border-radius: 10px"
      class=" block w-100 no-outline no-border pad-1 mar-b-2">
      {{#each allСondition}}
      <option value="{{id}}">
        {{condition_name}}
      </option>
      {{/each}}
    </select>
</div>
  <button type="submit" class="btn btn-outline-light" value="Опубликовать" tabindex="3">Опубликовать</button>
</form>

</div>

  <div id="cards">
    <h2>Карточки в продаже</h2>
  </div>
  <div id="body">
    {{#each mySaleCards}}
    <div id="box">
      <div id="title">
        <h3>{{title}}</h3>
      </div>
      <div class="img">
        <img src="{{img}}" alt="">
      </div>
      <div id="ganre">
        <p>Цена: {{price}}$</p>
        <p>Состояние: {{'Сondition.condition_name'}}</p>
        <p>Город продавца: {{'User.City.city_name'}}</p>
      </div>

    </div>
    {{/each}}
  </div>

  <div id="cards">
    <h2>Купленные Карточки</h2>
  </div>
  <div id="body">
    {{#each allCardsBuy}}
    <div id="box">
      <div id="title">
        <h3>{{title}}</h3>
      </div>
      <div class="img">
        <img src="{{img}}" alt="">
      </div>
      <div id="ganre">
        <p>Цена: {{price}}$</p>
        <p>Состояние: {{'Сondition.condition_name'}}</p>
        <p>Город продавца:  {{'User.City.city_name'}}</p>
      </div>

    </div>
    {{/each}}
  </div>
</div>